<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Vezeeta</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul id="routers">
          <!-- <li>
            <a class="m-2" aria-current="page" href="admin-dashboard">admin-dashboard</a>
          </li> -->
          <li *ngIf="isAuthenticated">
            <a class="m-2" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a class="m-2" aria-current="page" routerLink="/profile">Profile</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a class="m-2" style="cursor: pointer;" (click)="logOut()">log Out</a>
          </li>
          <li *ngIf="!isAuthenticated">
            <a class="m-2" routerLink="sign-up">sign Up</a>
          </li>
          <li *ngIf="!isAuthenticated">
            <a class="m-2" routerLink="log-in">log In</a>
          </li>
        </ul>
      </div>
  </nav>
