<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Vezeeta</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul id="routers">
          <li>
            <a class="m-2" aria-current="page" href="admin-dashboard">admin-dashboard</a>
          </li>
          <li>
            <a class="m-2" aria-current="page" href="home">Home</a>
          </li>
          <li>
            <a class="m-2" href="sign-up">sign Up</a>
          </li>
          <li>
            <a class="m-2" href="log-in">log In</a>
          </li>
        </ul>
      </div>
  </nav>
