<form [formGroup]="addForm" (submit)="onSubmit()">
    <label for="name" class="form-label">name:</label>
    <input class="form-input {{ isSubmitted && fs['name'].errors? 'is-invalid' : ''}}" id="name" type="text" formControlName="name">
    <!-- <div *ngIf="fs['Name'].errors?.['required'] && isSubmitted == true">
        Name is required.
      </div>
      <div *ngIf="fs['Name'].errors?.['minlength'] && isSubmitted == true">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="fs['Name'].errors?.['maxlength'] && isSubmitted == true">
        Name must be less than 25 characters.
    </div> -->

    <label for="email" class="form-label">email:</label>
    <input class="form-input" id="email" type="email" formControlName="email">

    <label for="tel" class="form-label">tel:</label>
    <input class="form-input" id="tel" type="text" formControlName="tel">

    <label for="specilaization" class="form-label">specilaization:</label>
    <input class="form-input" id="specilaization" type="text" formControlName="specialization">

    <label for="fees" class="form-label">fees:</label>
    <input class="form-input" id="fees" type="text" formControlName="fees">

    <label for="address" class="form-label">address:</label>
    <input class="form-input" id="address" type="text" formControlName="address">

    <input class="btn btn-primary form-control mt-3" type="submit" name="submit" id="submit" value="Add Doctor">
</form>

